*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(239, 236, 234, 0.976),rgba(255, 255, 255, 0.973)), url(../images/cellbg.webp);
    background-position: center;
    background-size: 75%;
    position: relative;
}

.side-nav{
    width: 25%;
    height: 100%;
    background: rgba(121, 126, 113, 0.125);
    position: fixed;
    top: 0;
    left: 0;
}

.side-links{
    top: 10%;
    list-style: none;
    position: relative;
    text-align: left;
}

.side-links li a{
    color: #5e6155;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-indent: 40px;
}

.side-links li a:hover{
    text-shadow: 0 0 0.6px rgb(10, 10, 2);
    display: flex;
    background-color: #5e615527;
    transition: 0.2s;
}

.header{
    min-height: 10vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: rgb(85, 76, 76);
    text-decoration: solid;
    font-size: 15px;
    font-style: normal;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 10px;
    background: #aa9487;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
        width: 100%;
}

nav .fa{
    display: none;
}

.research_interests{
    color: #30322b;
    position: absolute;
    left: 34%;
}

.items{
    background-color: #b5aea8;
}
