*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    border: 0;
    font-size: 100%;
    list-style: none;
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    background-color: rgba(180, 165, 137, 0.521);
}
.header{

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #2b241f50;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 100%;
    transition: font-size 0.2s linear;
}
.nav-links ul li a{
    color: rgb(56, 40, 40);
    text-decoration: solid;
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
}

.nav-links ul li :hover{
    font-size: 101%;
    transition: font-size 0.2s;
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
